/* 
    Created on : Feb 17, 2014, 1:12:17 PM
    Author     : Tesha-E 
*/
/*Back to top btn*/
.back-to-top{
    position: fixed;
    bottom: 10px;
    right: 5px;
    text-decoration: none;
    color: #428BCA;
    background-color: transparent;
    border: #428BCA solid 2px;
    padding: 1px 6px;
    font-size: 25px;
    display: none;
    border-radius: 50%;
}
.back-to-top:visited{
    color: #428BCA;
}
.back-to-top:hover{
    color: #F8F8F8;
    background-color:#428BCA;
}

/*Slide elements and fixed elements*/
.slide_btn{
  -webkit-transition:all 0.25s;
  background-color:transparent;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  color:#555555;
  display:block;
  font-size:150%;
  height:100px;
  line-height:0;
  margin-top:-60px;
  padding:38px 0;
  position:absolute;
  right:1.5em;
  text-align:center;
  top:50%;
  transition:all 0.25s;
  width:60px;
  z-index:120;
  opacity: 0.4;
}

.slide_btn:hover{
    opacity: 1;
    color: white;
    background-color: #428BCA;
}

.ad_left{
   left:1.5em !important;
}

.carousel-indicators li{
    background-color: #bbb;
}
.carousel-indicators > .active{
    background-color: #666 !important;
}

#head_wrap{   
    background-repeat:no-repeat no-repeat;
    background-size: cover; 
    background-repeat:no-repeat no-repeat; 
    border-bottom: #dddddd solid 1px;
}

#fixed_msg h1, h3, h4{
    font-family: helveticaNeueLtstdThin, Arial;
    margin-bottom: 25px;
}


#slide_close{
    margin-top: -15px;
    border: solid 1px;
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.4;
}
#slide_close_net{
    margin-top: -15px;
    border: solid 1px;
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    opacity: 0.4;
}

#slide_close:hover{
    opacity: 0.8;
}

.carousel-indicators {
       
}

.carousel-inner > .item {
    transition: left 1s ease-in-out 0s;
}
#fixed_msg{
    position: absolute;
    margin: 50px auto auto auto;
    z-index: 20;
}

.trans{
    opacity: 0.5;
}

.slide_img{
    transition: opacity 0.6s ease-in-out;
}

#contact_panes > .nav-tabs > li > a{
    color: #428BCA;
    font-size: 120%;
}
/*My templates components*/
.btn-grn{
    border: #428BCA solid 1px;
    border-radius: 3px !important;
    background-color: transparent;
    color: #428BCA;
    font-weight: lighter;
    transition:  background-color 0.1s, color 0.8s;
    -webkit-transition: background-color 0.1s, color 0.8s;
}
.btn-grn:visited{
    color: #428BCA;
}
.btn-grn:hover{
    border: #428BCA solid 1px;
    background-color: #428BCA;
    color: white;
}

.push_right_bit{
    margin-right: 5px;
}

.push_left_bit{
    margin-left: 5px;
}

._bottom{
    margin-bottom: 10px;
}

._top{
    margin-top: 10px;
}
/*Recharge form*/
.hr{
    margin: -10px auto -10px auto;
}

.operator{
    border-radius: 6px !important;
    border: none;
    border: #F2F2F2 solid 2px;
    -webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    opacity: 0.45;
}
.operator:hover{
   border: none;
   border: #428BCA solid 2px;
   
   -webkit-opacity: 1;
   -moz-opacity: 1;
   opacity: 1;
}
.operator_active{
   border: none;
   border: #428BCA solid 2px;  
   -webkit-opacity: 1;
   -moz-opacity: 1;
   opacity: 1;
}


.hrr{
    margin-top: -15px;
}

.cash{
    width: 100px !important;
    height: 70px !important;
    border:  #E8E8E8 solid 2px !important;
    border-radius: 3px;
    font-family: cursive;
    font-size: 150%;
    text-align: center;
    
    -webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    opacity: 0.45;
}

.cash:hover{
    border: #428BCA solid 2px !important;
    
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.cash_active{
    border: #428BCA solid 2px !important;
    
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

#cal_result{
    padding: 0px;
}
#cal_result > panel{
    margin: 0px !important;
}

/*Landing body*/
.same_page{
    padding: 15px;
    border-bottom: #dddddd solid 1px;
}
.same_page_1{
    background-color: #F8F8F8;
    padding: 15px;
    border-bottom: #dddddd solid 1px;
}
.dark{
    background-color: #555555;
    padding: 15px;
    color: white;
}

/*Footer and contacts*/
#footer{
    background-color: #222222;
    min-height: 50px;
    padding-top: 15px;
    color: white;
}

#_social a{
    text-decoration: none;
    color: #fff;
    font-size: 120%;
}
#_social a:hover{
    color: #428BCA;
}

/*Payment page*/
.method{
    margin-top: 21px !important;
}
#order{
    padding: 10px;
    border: #F2F2F2 solid 2px !important;
}


#login_tab{
    background-color: #fff;
    padding: 0px 10px;
    border-left: #CCCCCC solid 1px;
    border-right: #CCCCCC solid 1px;
    border-bottom: #CCCCCC solid 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.error_text{
    color: #A94442 !important;
}
.hr{
    margin: -10px auto -10px auto;
}

/*Home page*/
#my_tab .tab-lnk a{
    background-color: #f8f8f8 !important;
    font-size: 140%;
    color: darkgray;
    transition: border-bottom 0.1s, color 1s;
    -webkit-transition: border-bottom 0.1s, color 1s;
    border: none !important;
    border-bottom: #F2F2F2 solid 3px !important;
}
#my_tab .tab-lnk a:hover{
    color: #428BCA;
    background-color: white !important;
    border: none;
    border-bottom: #428BCA solid 3px !important;
}

#my_tab .tab-lnk-active a{
    font-size: 140%;
    color: #428BCA;
    transition: border-bottom 0.1s, color 1s;
    -webkit-transition: border-bottom 0.1s, color 1s;
    background-color: white !important;
    border: none;
    border-bottom: #428BCA solid 3px !important;
}


#tab__body{
    margin-top: 5px;
    padding: 25px 5px 5px 5px !important;
    border: #F2F2F2 solid 1px; 
    border-radius: 3px;
    min-height: 400px;
}

/*Invoice Page*/
    #invoice{
        border: #ddd solid 1px;
        border-radius: 3px;
    }
    
    .no_pad{
        padding: 0px !important;
    }
    
    .no_mag{
        margin: 0px !important;
    }
    .border_left{
        border-left: #999 solid 1px;
    }
    .top_10{
        margin-top: 10px;
    }
    .bottom_10{
        margin-bottom: 10px;
    }
    
    #invoice_table{
        margin-top: 5px;
    }
    
    #invoice_table th{
        text-align: center;
    }
    #invoice_table td{
        border: #999 solid 1px !important; 
    }
    #invoice_table .list-group-item{
        margin: 0px;
        border: none;
        border-bottom: #999 solid 1px;
        border-radius: 0px;
        height: 35px;
        padding-right: 5px;
    }
    #invoice_table .list-group{
        padding: 0px;
        margin: 0px;
    }
    
    #print{
        cursor: pointer;
    }
/*trans list*/
#trans th{
    text-align: center;
}

.alrt{
    position: fixed;
    bottom: 40px;
    right: 5px;
    border-radius: 5px;
}
/*




.my_bord{
    border: #F2F2F2 solid 2px !important;
}





._hr{
    margin-top: -20px;
    margin-bottom: -15px;
}



    h4 a:hover{
    text-decoration-line: none !important;
}
.panel-body{
    border-top: none !important;
    padding: 5px;
}

.panel-default{
    border: none !important;
    box-shadow: none !important;
}

.panel-body  .list-group {
    margin-bottom: 0px !important;
}
.panel-heading input{
    margin-top: 22px;
}
*/
