<span style='color: #000' title='Frames'>   179</span><span style='color: #009' title='Memory'>   8448.00 KB</span><span style='color: #900' title='Time'>    254.01 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />